---

---
html(lang="en")
  head
    meta(charset="UTF-8")
    title smart_tv_homepage
    script(type="text/javascript"
      src="//imasdk.googleapis.com/js/sdkloader/ima3.js")
    link(rel="stylesheet"
      href="//cache.zeasn.tv/webstatic/linux_smarttv_home_web/css/index.css")

  body
    #wapper
      object#nettvObjectFactory(type="application/NetTV_objectFactory"
        style="position: absolute; top: 0; left: 0; width: 0; height: 0;")
      #header
        #iconBox.clearFix
          #header_1_1.header_icon_box.clearFix.mouseSelected
            #exitBtn.header_icon
            #exitBtn_f.header_icon
          #header_1_2.header_icon_box.clearFix.mouseSelected
            #smartTv.header_icon
            #smartTv_f.header_icon
            #title
      #nav.hide
        #nav_1.nav_list
      #banner.clearFix
      #App_box_screen
        #App_box
      #arrow_up.arrow
      #arrow_down.arrow
      #bottom
        .BottomLeft
          .sq.hide
          p#help
        p#timer

    script(src="//cache.zeasn.tv/webstatic/homepage_web/ad/zeasn_ad_sdk.js")
    script(src="//cache.zeasn.tv/webstatic/linux_smarttv_home_web/js/jquery-3.1.1.min.js")
    script(src="//cache.zeasn.tv/webstatic/linux_smarttv_home_web/js/EN.js")
    script(src="//cache.zeasn.tv/webstatic/linux_smarttv_home_web/js/tool.js")
    script(src="//cache.zeasn.tv/webstatic/linux_smarttv_home_web/js/index.js")


