<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>smart_tv_homepage</title>
  <link href="/zeasn/smartTv_en.css" rel="stylesheet" type="text/css">
  <link href="/zeasn/linux_smarttv_home_web.css" rel="stylesheet">

  <script>
    !(function(n) {
        var e = n.document,
        t = e.documentElement,
        i = 1280,
        d = i / 100,
        o = 'orientationchange' in n ? 'orientationchange' : 'resize',
        a = function() {
          var n = t.clientWidth
          t.style.fontSize = n / d + 'px'
        }
        if (e.addEventListener) {
          n.addEventListener(o, a, !1)
          e.addEventListener('DOMContentLoaded', a, !1)
        }
        a()
    })(window)
  </script>

  <script xsrc="//imasdk.googleapis.com/js/sdkloader/ima3.js"></script>
  <script xsrc="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
  <script xsrc="https://ssp.zeasn.tv/djt?loc=FeatureApp_VIDEOPIP&amp;os=h5&amp;referer=http%3A%2F%2Flocalhost%3A5000&amp;brwsrvrs=12&amp;tvdomain=unknown&amp;tvbrand=others&amp;ad_sdk_ver=0.3.3.14&amp;callback=handleAd_j01myaum3jq_kvie0ubg&amp;cntry=BR&amp;lang=en&amp;manid=0008c6&amp;ctn=32PHT510298&amp;relevantad=false&amp;rnd=1635875479443&amp;geoipcountry=BR"></script>
  <script xsrc="https://ssp.zeasn.tv/djt?loc=SmartHome_1_300x250,SmartHome_2_300x250,SmartHome_3_300x250,SmartHome_4_300x250,SmartHome_5_300x250&amp;os=h5&amp;callback=handleAd_six3a2tv8id_kvie0uc7&amp;referer=http%3A%2F%2Flocalhost%3A5000&amp;brwsrvrs=12&amp;tvdomain=unknown&amp;tvbrand=others&amp;ad_sdk_ver=0.3.3.14&amp;cntry=BR&amp;lang=en&amp;manid=0008c6&amp;ctn=32PHT510298&amp;relevantad=false&amp;rnd=1635875479452&amp;geoipcountry=BR"></script>

  <script src="/zeasn/js/jquery-3.1.1.min.js"></script>
  <script src="/zeasn/js/EN.js"></script>
  <script src="/zeasn/js/tool.js"></script>
  <script src="/zeasn/js/grid.js"></script>
  <script xsrc="/zeasn/js/index.js"></script>
</head>

<body>

  {{ content | safe }}


<script xsrc="/zeasn/js/stuffs.js"></script>
<script xsrc="/zeasn/js/init.js"></script>

<script src="/zeasn/js/combined.js"></script>


</body></html>
